<div class="container">
	<div class="text-right">
		<% if current_user %>
			<%= link_to 'Add New Article +', new_article_path, class:'btn btn-secondary mt-3' %>
		<% end %>
	</div>

	<%= render 'articles_list', articles: @articles %>

</div>
