.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em
}
.user-icon {
  position: relative;
  top: 4px;
}
.user-name {
  margin: 0px 5px;
}
.article-image-small{
  max-width: 400px;
  max-height: 40%;
}
.article-container {
  width: 40%;
  margin: 0px auto;
}
.nav-link li a {
  padding: 5px 5px;
}
.logo {
  font-size: 30px;
  cursor: pointer;
  color: gainsboro;
}
.new-article {
  padding: 5px 5px;
}
