<% if flash[:notice] %>
	<div class="notification btn-success global-notification">
		<p class="notice"><%= notice %></p>
	</div>
<% end %>
<% if flash[:alert] %>
	<div class="notification btn-danger global-notification">
		<p class="alert"><%= alert %></p>
	</div>
<% end %>
